# =====================
# Java / Maven
# =====================
target/
*.log

# =====================
# Maven Wrapper
# =====================
.mvn/wrapper/maven-wrapper.jar

# =====================
# Environment files
# =====================
.env
.env.*
!.env.example

# =====================
# IDEs
# =====================
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Docker
# =====================
pgdata-*
docker-compose.override.yml

# =====================
# Kubernetes (ignored for now)
# =====================
k8s/
*.kubeconfig
